@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

h1 {
  font-family: 'Dancing Script', cursive;
  font-size: 40px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.25);
  color: black;
  width: 311px;
  height: 84px;
  padding: 10px;
  border: solid 2px black;
  margin: auto;
  box-sizing: border-box;
  z-index: 4;
}

.floripa {
  background-image: url(../img/ilha-da-magia.jpeg);
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  color: black;
  font-family: 'Roboto', sans-serif;
}

p {
  font-family: 'Roboto', sans-serif;
}

h3 {
  font-family: 'Roboto', sans-serif;
}

ul {
  font-family: 'Roboto', sans-serif;
}

li {
  margin-bottom: 7px;
}

img {
  width: 50px;
  margin-left: 20px;
}

a img {
  width: 35px;
}

.center-video {
  width: 100%;
  display: flex;
  justify-content: center;
}

@media (min-width: 665px) and (max-width: 1320px) {
  .center-video iframe {
    width: 650px;
    height: 366px;
  }
  .floripa {
    height: 300px;
  }
}

@media (max-width: 664px) {
  .center-video iframe {
    width: 400px;
    height: 230px;
  }
  .floripa {
    height: 200px;
  }
  h1 {
    font-size: 30px;
    height: 60px;
    width: 280px;
  }
  p,
  li {
    font-size: 14px;
  }
}

@media (max-width: 420px) {
  .center-video iframe {
    width: 300px;
    height: 168px;
  }
}
