* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
  background-color: white;
}

@keyframes bola {
  0% {
    opacity: 0%;
    translatex: (-100%);
  }
  100% {
    transform: translateX(500px);
    opacity: 100%;
  }
}

@keyframes borboleta {
  0% {
    transform: rotate(0) translate(0);
  }

  100% {
    transform: rotate(360deg) translate(600px);
  }
}

#bola {
  margin-top: 50px;
  width: 170px;
  animation: bola 5s infinite;
}

#borboleta {
  width: 170px;
  margin-left: 100px;
  margin-top: 100px;
  animation: borboleta 4s infinite;
}

button {
  margin-left: 600px;
  margin-top: 50px;
  width: 120px;
  height: 50px;
  font-size: 18px;
  background-color: #ffc1cf; /*EFA48B*/
  transition: background-color, 0.8s;
}

button:hover {
  background-color: #e2a0ff;
}
